<div class="container">
  <h1>My to-do tasks</h1>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= link_to task_destroy_path(task), class: "link", method: :delete, data: { confirm: 'Are you sure you want to delete this task?'} do %>
          <i class="fa fa-trash"></i>
        <% end %>
        &emsp;
        <% if task.completed %>
          <input type="checkbox" checked>
        <% else %>
          <input type="checkbox">
        <% end %>
        <%= link_to task.title, task_path(task), class: "link" %>
      </li>
    <% end %>
  </ul>
  <%= link_to task_new_path, class: "btn-elegant" do %>
    <!-- <i class="fa fa-backward"> Return to list</i> -->
    <i class="fa fa-plus"> Add new task</i>
  <% end %>
</div>
